:root {
    --yellow-js: #F6DF1C;
    --light-skin: #D9CB9E;
    --light-grey-blue: #374140;
    --dark-grey: #000000;
    --light-grey: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-grey) !important;
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

header {
    width: 100%;
}

header:hover {
    background: var(--yellow-js);
    color: var(--dark-grey);
    border: 2px solid var(--dark-grey);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

nav ul li {
    text-align: center;
    height: 80%;
}

nav ul li a {
    height: 100%;
    color: white;
    font-size: 40px;
    text-decoration: none;
} nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

nav ul li img {
    height: 65px;
}

#jsLogo {
    border-radius: 100%;
}

#containerPlatziLogo {
}

#platziLogo {
    height: 30px !important;
    width: 105x !important;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-content: stretch;
    background: white;
}

main a {
    text-decoration: none;
    color: var(--dark-grey);
    border: 1px solid white;
} main a:hover {
    color: var(--dark-grey);
    background-color: var(--yellow-js);
    border: 2px solid var(--dark-grey);
}

footer {
    width: 100%;
    color: var(--dark-grey);
    background-color: var(--yellow-js);
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.phrase {
    text-align: center;
    font-style: italic;
}

.space {
}

.checking {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.checking img {
    cursor: pointer;
}

.checking img:active {
    transform: scale(.9);
}